@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root{
    --siyah:#000;
    --beyaz:#fff;
    --seffaf: rgba(165, 151, 151, 0.5);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: grid;
    grid-template-areas: 
    "header"
    "main"
    ;
    
    grid-template-rows: 80px 100vh  ;
    gap: 5px;
    

}


    header{
        font-family: 'DM Sans', sans-serif;
        display: flex;
        align-items: center;
        background-color: rgb(0, 0, 0);
        flex: 1 1 100%;
        flex-wrap: wrap;
        grid-area: header;
        

}
header>.ara
{
display: flex;
width: 60px;
gap: 5px;
margin-left: 650px;



}
header>.ara>#txtUsername
{
height: 40px;
width: 130px;
border-radius: 15px;

}
header>.ara>:nth-child(2)
{
    width: 140px;
    height: 40px;
    background-color: white;
    border-radius: 5px;
}

header > img{
 width: 85px;
 height: 85px;
}
header > .baslık{
    display: flex;
    flex-wrap: wrap;
    gap: 70px;
   
}
header > .baslık > a{
    margin-left: 50px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    color: white;
}
header > .baslık > a:hover{
    color: rgb(255, 0, 0);
}
main
{
    display: flex;
    flex: 1 1 100%;
    flex-wrap: wrap;
max-width: 1300px;
gap: 10px;
margin-left: 350px;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
} 
main>div
{
    display:flex;
    flex-direction: column;
    height: 250px;
    justify-content: flex-start;
    align-items: flex-start;
    width: 300px;
    box-shadow: 0px 5px  black;
}


main>div>img{
    height: 150px;
}
main>div>img:hover{
    width: 310px;
    height: 160px;
}
ooter
{
    .alt{
        display: flex;
        padding: 50px;
        margin-top: 50px;
        justify-content: space-between;
        font-family: 'Work Sans', sans-serif;
        
    }
    .alt > div > a{
        line-height: 1.8;
        text-decoration: none;
        color: black;
        margin-top: 50px;
        opacity: 0.8;
    }
    .alt > div > a:hover{
        opacity: 1;
    }

}
footer > .semboller{
    display:flex;
    flex-direction: column;
    gap: 3px;
    
}
footer > .semboller > a 
{
    width: 10px;
    font-size: 30px;
}
footer>.semboller>a:hover
{
    font-size: 33px;
}